# SPDX-FileCopyrightText: 2023 Marius Bernahrndt
# SPDX-License-Identifier: CC-BY-4.0

# Pytho-Bytecode-Data
*.pyc
__pycache__/

# Temp Data
*.tmp
*.log

# Systemdata
.DS_Store
Thumbs.db

# IDE config files
.idea/
Code/.idea/
